:root {
	--base: #eb5a14;
	--spacing: 10px;
	--blur: 10px;
}

img {
	padding: var(--spacing);
	background: var(--base);
	filter: blur(var(--blur));
}

body {
	text-align: center;
	background: #193549;
	color: white;
	font-family: "helvetica neue", sans-serif;
	font-weight: 100;
}

.controls {
	margin-bottom: 50px;
}

input {
	width: 100px;
}
label {
	font-size: 30px;
}

.hl {
	color: var(--base);
}
